<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="cdnPath" value="" />
    <add key="minify" value="true" />
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="FingerPrint" verb="GET" path="*.html" type="StaticWebHelper.FingerPrintHandler" />
    </handlers>

    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by"/>
        <add name="Content-Security-Policy" value="object-src 'none';"/>
        <add name="Arr-Disable-Session-Affinity" value="True"/>
        <add name="Vary" value="Accept-Encoding, If-Modified-Since"/>
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="FingerPrint" stopProcessing="true">
          <match url="(.+)(\.[0-9]{18})\.([a-z]{2,4})$" />
          <action type="Rewrite" url="{R:1}.{R:3}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
